#section1 h1, #section1 p {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
ul,
li,
p {
    text-align: left;
}

ul,
li {
    width: 100%
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: none;
}


  /* 1. Style header/footer <div> so they are positioned as desired. */
  .reveal .header {
    z-index: 1;
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 0.5em;
  }

